* {
  margin:0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url(svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  transition: 1s;
}

.logo {
  transition: 1s;
}

a:hover{
  color: red;
}

a:hover .logo{
  fill: red;
  transform: scale(1.2);
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}


.logo-heading {
    color:#EAAA7F;
}

.logo-text {
  opacity: 0;
}

.main-logo {
  transition: 2s;
}

.main-logo:hover {
  transform: rotate(360deg) scale(1.5);
}
#symbol {
  display: none;
}

#corgi1 {
  color:#B18261;
}

#corgi2 {
  color: #E0AD88;
}

#corgi3 {
  color: #7C4D30;
}

#corgi4 {
  color: #53595D;
}

.corgi-container {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.corgi-container p {
  color:currentColor;
  text-align: center;

}
.corgi-face {
  fill: currentColor;
  margin: auto;
}
@media (min-width: 425px) {

  .corgi-container {
    width: 40%;
  }


  .logo-heading {
    display: none;
  }

  .logo-text {
    opacity: 1;
  }
}

@media (min-width: 1024px) {

    .corgi-container {
      width: 20%;
    }

}
